<h1>Edit paper</h1>

<% if @paper.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@paper.errors.count, "error") %> prohibited
            this article from being saved:
        </h2>
        <ul>
            <% @paper.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @paper, method: :patch  do |form| %>
    <p>
        <%= form.label :title %><br />
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :venue %><br />
        <%= form.text_field :venue %>
    </p>

    <p>
        <%= form.label :year %><br />
        <%= form.text_field :year %>
    </p>

    <% 5.times do |i| %>
        <%= form.label "Author #{i+1}", for: "paper_author_id_#{i+1}" %>
        <%= form.collection_select :author_ids, Author.all, :id, :name,
                                {selected: @paper.author_ids[i], include_blank: '(none)'},
                                {name: "paper[author_ids][]", id: "paper_author_id_#{i+1}"} %>
    <% end %>

    <p>
        <%= form.submit %>
    </p>
<% end %>